fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
redis
meilisearch
langchain
langchain-community
langchain-openai
langchain-ollama
langchain-huggingface
langchain-postgres
python-multipart
httpx
paddlepaddle
paddleocr
minio
pdfplumber
pgvector
sentence-transformers
